<%= form_for(@ordertransaction) do |f| %>
  <% if @ordertransaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordertransaction.errors.count, "error") %> prohibited this ordertransaction from being saved:</h2>

      <ul>
      <% @ordertransaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
