<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <!--  -->
          <div class="container">
            <div class="carousel-caption">
              <p class="lead">Theme Park for Kids</p>
              <a class="btn btn-large btn-primary" href="/events">Book a Party With Us Today!</a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
               <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <p class="lead"> A new and exciting arena that brings individual and team play to new heights, play against an opponent or hidden targets with your Glow in the dark vest and the Phazers.</p>
              <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>