  <!-- START THE FEATURETTES -->

    <% @attractions.each do |attraction| %>
      <hr class="featurette-divider">
      <h2 class="featurette-heading"> <%= attraction.name %> <span class="muted"><%=attraction.short_description%></span></h2>
      <div class="featurette">
        <%=image_tag(attraction.avatar_url) %>)%>
        <img class="featurette-image pull-right" src="assets/images/examples/bumper_cars.jpg">
        <p class="lead"><%=attraction.long_description%></p>
      </div>
     <% end %>
   <!-- /END THE FEATURETTES -->

